@media (max-width:1024px){

	h1{
		font-size: 3.25rem;
	}

	h2{
		font-size: 1.375rem;
		line-height: 1.8rem;
	}

	.wrapper{
		padding-top: 1.25rem;
		padding-bottom: 1.25rem;
	}
}
@media (max-width:991px){

	h4,
	.choose .card h4{
		font-size: 0.9375rem;
		margin-bottom: 0.625rem;
	}

	p{
		font-size: 0.8125rem;
		line-height: 1.3125rem;
	}

	.text-content{
		width: 100%;
	}

	#home{
		
	}

	.navigation-wrap .navbar-band img{
		height:2.8225rem;
	}

	.navbar-toggler{
		color: #9e9999;
	}

	.navbar-toggler i{
		color:#9e9999;
		line-height: 2;
	}

	.navigation-wrap{
		text-align: center;
		background: black;
	}

	.navigation-wrap .nav-link{
		line-height: 1.875rem;
	}

	.hero-slider .carousel-caption{
		transform:translate(-70%, -50%);
	}

	.features .card .icon{
		margin-bottom: 20px;
	}

	#zoom-img,
	#zoom-img-1,
	#zoom-img-2{
		height: 220px;
	}

}

@media (max-width:767px){

	.main-btn{
		margin: auto;
	}

	.text-sec{
		text-align: center;
		padding-top: 1.875rem;
	}

	h2:before{
		left: 45%;
	}

	.hero-slider .carousel-caption{
		transform:translate(-45%, -70%);
	}

	.hero-slider .carousel-caption h2::before{
		left: 0;
	}
}

@media (max-width:575px){

	.h1{
		font-size: 1.5rem;
		margin-bottom: 0.6785rem;
	}

	.h2{
		font-size: 1.25rem;
		line-height:1rem;
		margin-bottom: 5px;
	}

	h2:before{
		left: 45%;
	}

	.about-slider
	.feature-img-box{
		width:50%;
		margin: auto;
	}

	.about-section .carousel-inner{
		border-radius: 0 0 1.875rem;
	}

	#zoom-img,
	#zoom-img-1,
	#zoom-img-2{
		height:13.75rem;
		width: 50%;
		text-align: center;
		margin:auto;
	}

	form input[type=text],
	.subscribe {
	    padding: 0.625rem;
	    font-size: 0.875rem;
	    text-align: center;
	}

	.subscribe {
	    font-size: 0.875rem;
	}

	form .form-group,
	form input[type=text] {
	    margin: 0 0 1rem;
	    width: 100%;
	}

	form .form-group {
	    white-space: nowrap;
	}

	form input[type=email] {
	    width: 50%;
	}
}

@media (max-width:430px){

	h2:before{
		top:-0.8rem;
	}

	.hero-slider .carousel-caption p{
		font-size: 0.75rem;
		line-height: 1.125rem;
	}
}